<style>
    .red-text {
      color: red;
    }
    p {
      font-size: 16px;
    }
  </style>
    
  <h2 class="red-text">CatPhotoApp</h2>
  <main>
    <p class="red-text"; "font-size">Click here to view more <a href="#">cat photos</a>.</p>
  
    <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>
  
    <div>
      <p>Things cats love:</p>
      <ul>
        <li>cat nip</li>
        <li>laser pointers</li>
        <li>lasagna</li>
      </ul>
      <p>Top 3 things cats hate:</p>
      <ol>
        <li>flea treatment</li>
        <li>thunder</li>
        <li>other cats</li>
      </ol>
    </div>
  
    <form action="https://freecatphotoapp.com/submit-cat-photo">
      <label><input type="radio" name="indoor-outdoor" checked> Indoor</label>
      <label><input type="radio" name="indoor-outdoor"> Outdoor</label><br>
      <label><input type="checkbox" name="personality" checked> Loving</label>
      <label><input type="checkbox" name="personality"> Lazy</label>
      <label><input type="checkbox" name="personality"> Energetic</label><br>
      <input type="text" placeholder="cat photo URL" required>
      <button type="submit">Submit</button>
    </form>
  </main>
  